.chatUserWrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows:  1fr 0.25fr 0.25fr;
    column-gap: 1.5rem;
}

.image {
    border-radius: 100px;
    grid-column: 1;
    grid-row: 1 /4;
}

.name{
    grid-column: 2;
    grid-row: 1;
}

.lastMessage{
    grid-column: 2;
    grid-row: 2;
}

.date{
    grid-column: 2;
    grid-row: 3;
}

/*Screens <= 500px*/
@media only screen and (max-width: 500px) {
    .chatUserWrapper {
        min-width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .name{
        font-size: 1.3rem;
    }

    .lastMessage, .date{
        display: none;
    }
}