.LoginPageBody {
    width: 100vw;
    height: 100%;
    background-image: url(../../images/vu-anh-TiVPTYCG_3E-unsplash.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.generalDiv-blur {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(6px);
    background-color: rgba(250, 250, 250, 0.5);
}

.loginMain {
    width: 60vw;  
    min-height: 350px;
    display: flex;
    background-color: rgba(250, 250, 250, 0.6);
    border-radius: 10px;
    border: none;
    margin-bottom: 5%;
}

.login-image {
    width: 40%;
    background-image: url(../../images/vu-anh-TiVPTYCG_3E-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    border-radius: 10px 0 0 10px;

}

.divLoginData {
    width: 60%;
    height: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.formLoginData {
    padding: 5%;
    padding-top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputGroup {
    border: none;
    width: 100%;
}

.inputGroup i {
    font-size: 1.5rem;
}

.userData {
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    background-color: white;
    display: flex;
    overflow: hidden;
}


.controlInput {
    border: none;
    margin-left: 1rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.controlInput:focus {
    outline: none;
}

.typeOfUser {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.typeOfUser>div {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.typeOfUser>div>input {
    margin: 0.5rem;
}

.submitArea {
    width: 100%;

    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem
}

.passForgotten {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;

}

.passForgotten:hover {
    color: var(--primary);
    text-decoration: underline;

}

.submitLogin {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 5px;
    width: 100%;
    border: none;
    color: white;
    background: linear-gradient(to right, var(--secondary), var(--primary));
    cursor: pointer;
    transition-duration: 200ms;
}

.submitLogin:hover {
    font-size: 1.6;
    transform: scale(1.05);
    transition: all 200ms ease-out;
}

.hide {
    display: none;
}

.redLabel {
    color: red;
    background-color: rgb(255, 168, 161);
    border-radius: 5px;
    padding: 1rem;
    text-align: center;
}

/*Media queries*/
/*Screens <= 800px*/
@media only screen and (max-width: 800px) {
    .loginMain {
        width: 70%;
        display: flex;
        justify-content: center;
    }

    .login-image {
        display: none;
    }

    .divLoginData {
        width: 90%;
        margin: auto;
    }

}

/*Screens <= 500px*/

@media only screen and (max-width: 500px) {
    .loginMain {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .typeOfUser {

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}