.wrapper{
    width: 80%;
    padding: 2rem 5rem;
    display: flex;
}

.remarksContainer{
    width: 80%;
    display: flex;
    flex-direction: column;

}

.markContainer{
    width: 20%;
    display: flex;
    flex-direction: column;

}

.markContainer i{
    color: var(--primary);
    font-size: 1.4rem;
}

.remarksContainer>h3:first-child, .markContainer>h3:first-child{
    padding: 0 1.5rem;
    font-weight: bold;
}

.markContainer h3:last-child{
    font-size: 1.5rem;
    padding:1.5rem;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.pageNumber {
    font-size: 1.5rem;
}

.pageBut {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    background: linear-gradient(to right, var(--secondary), var(--primary));
    border: none;
    cursor: pointer;
}

/*Media queries*/
/*Screens <= 800px*/
@media only screen and (max-width: 800px) {
    .wrapper {
        padding-right: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .remarksContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
    
    }
    
    .markContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
    
    }

}

/*Screens <= 500px*/
@media only screen and (max-width: 500px) {
    .wrapper {
        width: 100%;
        padding-left: 2rem;
    }

}