.mainDivFilter{
    width: 20%;
    min-width: 200px;
    margin: 1.5rem 1rem;
    position: sticky;
    top: 2rem;

}

.filterOpener{
    font-size: 1.3rem;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.filterOpener>.icon>i{
    font-size: 1.3rem;
    padding-right: 1rem;
}

.orderSelector{
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 0.5rem 1.5rem;
    display: flex;
    justify-content:flex-start ;
    align-items: center;
    cursor: pointer;
} 

.orderSelector>label{
    width: 40%;
    font-size: 1.3rem;
}

.orderSelector>select{
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    padding-right: 0.5rem;
    
}

.mainDivFilter option {
    font-size: 1.2rem;
}

.mainDivFilter select:focus{
    outline: 1px solid black;
    border-radius: 5px;
}
.filterSelections{
    width: 100%;
    border: 1px solid lightgray;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.locality{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.filterSelections>label, .locality>label{
    font-size: 1.4rem;
    padding: 0.5rem 0;
}

.filterSelections>input, .filterSelections>select, .locality>input{
    font-size: 1.2rem;
    padding: 0.2rem 1rem;
    border-radius: 5px;
    border: 1px solid gray;
}



.filterSelections>button{
    font-size: 1.3rem;
    font-weight: bold;
    color: white;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    background: linear-gradient(to right, var(--secondary), var(--primary));
    border: none;
    cursor: pointer;
}
.filterSelections>button:first-of-type{
    margin-top: 2rem;
}

.hideFilter{
    display: none;
}

.showFilter{
    display: flex;
}




/*Media queries*/
/*Screens <= 500px*/
@media only screen and (max-width: 500px) {
    .mainDivFilter{
        width: 20%;
        min-width: 200px;
        margin: 1.5rem auto;
        position: relative;
    
    }
}