.mainSection {
    background: linear-gradient(to bottom, rgba(250, 250, 250, 0.6),
     rgba(250, 250, 250, 0.6)), 
     url("../../assets/images/homePage.jpg");
     /*Foto de <a href="https://unsplash.com/es/@spacejoy?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Spacejoy</a> en <a href="https://unsplash.com/es/fotos/juego-de-sala-blanco-y-marron-9M66C_w_ToM?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>*/
  
    background-size: cover;
    background-position: center 90%;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDiv {
    width: 60%;
    height: 70%;
    margin: 10rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.separator{
    height: 0.3rem;
    width: 30%;
    margin: auto;
    background-color: var(--primary);
    border-radius: 5px;
}

.section {
    margin: 3rem auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.clasification {
    margin-top: 3rem;
    text-decoration: underline;

}

.infoP {
    color: var(--paragraph);
    margin-top: 1.5rem;
}

.questions {
    padding: 2rem 0;
    background: linear-gradient(to bottom, rgb(8, 133, 201, 0.5), rgba(21, 151, 229, 0));
}

.divInsideQuest {
    width: 80%;
}

.btnHome {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem 0;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    color: white;
    background: var(--primary);
    cursor: pointer;
    transition-duration: 200ms;
}

.btnHome:hover {
    font-size: 1.6;
    transform: scale(1.05);
    transition: all 200ms ease-out;
}

/*Media queries*/
/*Screens <= 800px*/
@media only screen and (max-width: 800px) {
    .divInsideQuest {
        width: 100%;
    }
}

/*Screens <= 500px*/

@media only screen and (max-width: 500px) {
    .mainDiv {
        width: 80%;
        margin: 5rem;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    .mainDiv>h3 {
        font-size: 1.5rem;
    }

 

    .btnHome {
        font-size: 1.3rem;
    }

    .btnHome:hover {
        font-size: 1.4rem;
    }

}