.cardBody {
    width: 30%;
    min-width: 250px;
    margin: 1.5rem auto;
    padding: 1.5rem;
    background-color: rgba(195, 222, 229, 0.5);
    border: 1px solid lightgray;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cardAvatar {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1.5rem;
}

.cardAvatar>img {
    width: 100%;
    border-radius: 500px;
    grid-column: 1;
    grid-row: 1 / 3;
}

.nameData {
    margin: 0 0.5rem;
    grid-column: 2;
    grid-row: 1;
    align-self: self-end;
}

.addressData {
    margin: 0 0.5rem;
    grid-column: 2;
    grid-row: 2;
    align-self: self-start;
}


.cardInfo {
    width: 100%;
    height: 100%;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.serviceData {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priceData {
    width: 33%;
    text-align: center;
}

.providerData {
    padding: 0.5rem 0;
}

/*Media queries*/
/*Screens <= 800px*/
@media only screen and (max-width: 800px) {

    .cardBody {
        width: 100%;
        min-width: 250px;
        margin: 1.5rem auto;
        padding: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .cardAvatar {
        width: 40%;
        padding-right: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cardAvatar>img {
        width: 40%;
        align-self: start;
    }

    .nameData {
        align-self: start;
    }

    .addressData {
        align-self: start;
    }

    .cardInfo {
        width: 60%;
        height: 100%;
        padding: 0 1rem;
    }
}

/*Screens <= 500px*/
@media only screen and (max-width: 500px) {
    .cardBody {
        width: 100%;
        min-width: 250px;
        margin: 1.5rem auto;
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .cardAvatar {
        width: 100%;
        display: grid;
        grid-template-columns: 0.25fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        column-gap: 1.5rem;
    }

    .cardAvatar>img {
        width: 100%;
        border-radius: 500px;
        grid-column: 1;
        grid-row: 1 / 3;
        justify-self: center;
        align-self: center;
    }

    .nameData {
        margin: 0 0.5rem;
        grid-column: 2;
        grid-row: 1;
        align-self: self-end;
    }

    .addressData {
        margin: 0 0.5rem;
        grid-column: 2;
        grid-row: 2;
        align-self: self-start;
    }


    .cardInfo {
        width: 100%;
        height: 100%;
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
}