.introduction {
    background: linear-gradient(to bottom, rgba(250, 250, 250, 0.5), rgba(250, 250, 250, 0.5)), url("../../images/vu-anh-TiVPTYCG_3E-unsplash.jpg");
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Media queries*/
/*Screens <= 800px*/
@media only screen and (max-width: 800px) {
    
}

/*Screens <= 500px*/
@media only screen and (max-width: 500px) {
    .introduction {
        height: 20vh;
    }
}