.wrapper{
    width: 80%;
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-around;

}

.imageContainer{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.mainContainer{
    padding-left: 5rem;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.infoContainer{

    display: flex;
}

.infoContainer>h4:first-child{
    padding: 0 1.5rem;
    font-weight: bold;
}

.infoContainer>h4:last-child{
    font-weight: normal;
}

.userDataPhoto{
    width: 150px;
    height: 150px;
    border-radius: 500px;
}

.descriptionContainer{
    padding: 1rem 0;
}

.descriptionContainer>h4:first-child{
    padding: 0 1.5rem;
    font-weight: bold;
}

.descriptionInfo{
    padding: 0 1.5rem;
}

.btnChange{
    padding: 0.5rem;
    margin-left: 1.5rem;
    border-radius: 5px;
    background: linear-gradient(to right, var(--secondary), var(--primary));
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    border: none;
    cursor: pointer;
}